Debug
Release
/.vs
/x64
/ToolProject/CodeGenerator/.vs
/media/Log
/ToolProject/GenerateMakeLists/.vs
/ToolProject/GenerateVSProject/.vs
/MyServerFramework/MyServerFramework.vcxproj.user
/MyServerFramework_Frame/MyServerFramework_Frame.vcxproj.user
